:host {
  display: flex;
  padding-top: 4rem;
  padding-bottom: 4rem;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.portfolio-section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  transition: all 1s;

  &_left {
    border-right: 1px solid var(--font-primary);
  }

  &_right {
    border-left: 1px solid var(--font-primary);
  }

  &:hover {
    transform: scale(1.1) ;
  }
}
