.portfolio-section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  text-align: center;

  &_left {
    border-right: 1px solid var(--font-primary);
  }

  &_right {
    border-left: 1px solid var(--font-primary);
  }

  &:hover {
    transform: scale(1.1) ;
  }
}
