:root {
    --background-primary: #1a1a1a;
    --font-primary: #ededed;
    --accent-primary: #8bc1c1;

    --color-primary:  #EBE9E4;
    --color-secondary: #494949;
    --color-secondary-light: #1fdddd;
    --color-secondary-lighter: #CEF5F5;
    --color-tertiary: #F5E6F1;
}
